p:nth-child(5) {
   background: revert;
   box-shadow: revert;
   padding: revert;
}
body {
   font-family: Arial, sans-serif;
   background-image: linear-gradient(circle, white, lightgray);
}
h1 {
   color: darkblue;
   padding: 8px;
   text-shadow: 5px 5px 6px gray;
}
a {
   font-size: 12px;
}
p:nth-child(5) {
   background: revert;
   box-shadow: revert;
   padding: revert;
   }

/* TODO: Add styles here */